/* body{
	background: url(images/body.JPG);
	} */
	.border_Admin{
		margin: 52px 0px 0px 54px;
		width: 485px;
		text-align: center;
		border: 5px solid #0000ff;
		height: 465px;
	}
	.admin-login{
		margin: 0px 0px 0px 399px;
		background: #151719;
		height: 600px;
		width: 600px;
		position: fixed;
		
	}
	.admin_dash table tr td{
		font-family: sans-serif;
		font-weight: bold;
		font-size: 18px;
		color: #ffffff;
	}
	.admin_dash input[type = "text"]{
		background: transparent;
		outline: none;
		height: 30px;
		color: #fff;
		font-size: 18px;
		margin: 5px 0px 5px 5px;
		width: 124%;
	} 
	.admin_dash input[type = "password"]{
		background: transparent;
		outline: none;
		height: 30px;
		color: #fff;
		font-size: 18px;
		margin: 5px 0px 5px 5px;
		width: 124%;
	} 
	.admin_sub{
		margin: 0px 0px 0px 70px;
	}
	.admin_dash input[type="submit"]{
		font-weight: bold;
		background: #00bfff;
		color: #fff;
		font-size: 30px;
	}
	.admin_dash input[type="reset"]{
		margin: 0px 0px 0px 123px;
		font-weight: bold;
		background: #00bfff;
		color: #fff;
		font-size: 30px;
	}

	/* header.php */

	.Update_animal button{
		background: #151719;
		height: 40px;
		color: #fff;
		font-size: 15px;
		width: 100%;
		font-family: sans-serif;
		font-weight: bold;
	}

	.Update_animal button:hover{
		cursor: pointer;
		background: #0080ff;
		color: #000;
		font-style: #ff4000;
	}


	.header_img1{
		width: 100px;
		height: 100px;
		border-radius: 50%;
		top: 12px;
		left:370px ;

	} 
	.admin_wrapper{
		position: fixed;
		margin: -61px;
		font-family: sans-serif;
	}
	#admin_sidebar{
		position: fixed;
		width: 200px;
		height: 100%;
		background:#151719;
		left: -200px;
		transition: all 500ms linear;
	}
	#admin_sidebar.active{
		left: 0px;
		margin: 0px;
	} 
	#admin_sidebar ul li span{

		font-weight: bold;
		font-size: 20px;
		font-family:sans-serif; 
		
	}
	#admin_sidebar ul li{
		color: rgba(230,230,230,0.9);
		list-style:none;
		padding: 15px 18px;
		border-bottom: 1px solid rgba(100,100,100,0.3);
	}

	#admin_sidebar .admin_toggle_btn{
		position: absolute;
		left: 217px;
		top: 90px;
	}
	#admin_sidebar .admin_toggle_btn span{
		display: block;
		width: 30px;
		height:5px;
		background: #151719;
		margin: 4px 0px; 
	}
	.animal_wrapper{
		margin: 0px 0px 0px 193px;
		padding: auto;
		/*width: 86%;*/
		background-size: cover;
		background:#99ffcc;
	}
	.welcome_animal{
		background-color: #151719;
		color: white;
		font-weight: bold;
		font-size: 50px;
		font-family: sans-serif;
		text-align: center;
	}
	.welcome_animal a button{

		font-size: 15px;
		font-weight: bold;
		font-family: sans-serif;
		margin: 15PX 0PX 15PX 330PX;
		background: #151719;
		color: white;
	}
	/* dashboard */
	.dash_image{
		margin: 31px 0px 0px 193px;
	}
	.dash_image img{
		margin: -31px 0px 0px 0px; 
		height: 590px;
		width: 1140px;
	}

	/* insert */
	.table_dash{
		display: inline;
		margin:  0px;
		padding: 45px;
	} 

	.insert_dash table tr td{
		font-family: sans-serif;
		font-weight: bold;
		font-size: 18px;
		color: #fff;
	}
	.insert_wrapper{
		background: #151719;
		height: 580px;
		width: 900px;
		margin: 21px 0px 0px 289px;

	}
	.view_insert a button{
		font-size: 20px;
		font-weight: bold;
		font-family: sans-serif;
		background: #0000ff;
		color: #fff;
	}
	.view_insert{
		padding: 30px;
	}







	.insert_dash table{
		width: 600px;
	}
	.insert_dash input[type = "text"]{

		border:none;
		border-bottom: 1px solid #fff;
		background: transparent;
		outline: none;
		height: 30px;
		color: #fff;
		font-size: 18px;
		margin:5px 0px 5px 5px;
		width: 80%;
	} 
	#details_dash{
		font-family: sans-serif;
		font-weight: bold;
		font-size: 25px;
		color: #fff;
	}

	.insert_dash input[type="submit"]{
		font-weight: bold;
		width: 589px;
		border:none;
		outline: none;
		height: 40px;
		background: #00bfff;
		color: #fff;
		font-size: 30px;
	}

	/* animallist */
	.animallist_container{
		position: fixed;
		background: #151719;
		margin: 21px 0px 0px 289px;
		height: 580px;
		width: 900px;
		color: white;
		font-family: sans-serif;
		font-size: 17px;
		font-weight: bold;
		text-align: center; 
	}

	.animallist_box{
		margin: 41px 0px 0px 55px;
	}


	#animal_lost{
		font-family: sans-serif;
		font-weight: bold;
		font-size: 20px;
	}

	.insert_button{
		font-size: 20px;
		font-weight: bold;
		font-family: sans-serif;
		background: #0000ff;
		color: #fff;
	}
	#btn_insert{
		padding: 28px 648px 31px -0px;

	}
	.animaledit_container{
		background: #151719;
		margin: 21px 0px 0px 289px;
		height: 580px;
		width: 900px;
		color: white;
		font-family: sans-serif;
		font-size: 17px;
		font-weight: bold;
		text-align: center; 
		position: fixed;
	}
	.animaledit_box{
		margin:62px 0px 0px 128px;
	}
	.animaledit_box input[type = "text"]{
		background: transparent;
		outline: none;
		height: 30px;
		color: #fff;
		font-size: 18px;
		margin: 5px 0px 5px 5px;
		width: 94%;
	} 
	.animaledit_box input[type="submit"]{
		font-weight: bold;
		width: 589px;
		border:none;
		outline: none;
		height: 40px;
		background: #00bfff;
		color: #fff;
		font-size: 30px;
	}
